<ion-header>
  <ion-navbar>

    <ion-searchbar (ionInput)="sjdk"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page" style="background-color: #E8EAED">
  <ion-list>

    <ion-list-header>Hoy</ion-list-header>

    <ion-card *ngFor="let item of conferencias" (click)="escanear(item)">
      <img src="https://picsum.photos/g/200/50" />
      <ion-card-content>
        <ion-card-title>
          {{item.titulo}}
        </ion-card-title>
        <p>
          {{item.ponente.fullName}}
        </p>
        <p>
          Hora de inicio: <b>{{item.hora}}</b>
        </p>
        <p>
          Fecha de presentación: <b>{{ item.fecha | date: 'dd/MM/yyyy'}}</b>
        </p>
      </ion-card-content>
    </ion-card>

  </ion-list>

  <ion-list>

    <br>
    <ion-list-header>Mañana</ion-list-header>

    <ion-card *ngFor="let manana of conferenciasParaManana" (click)="escanear(manana)">
      <img src="https://picsum.photos/g/200/50" />
      <ion-card-content>
        <ion-card-title>
          {{manana.titulo}}
        </ion-card-title>
        <p>
          {{manana.ponente.fullName}}
        </p>
        <p>
          Hora de inicio: <b>{{manana.hora}}</b>
        </p>
        <p>
          Fecha de presentación: <b>{{ manana.fecha | date: 'dd/MM/yyyy'}}</b>
        </p>
      </ion-card-content>
    </ion-card>


  </ion-list>


</ion-content>